* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Imagens/WallpaperHZD2.jpg);
  background-size: cover;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar {
  background-color: #212529;
  position: sticky;
  top: 0;
}

.navegation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.text-nav {
  font-family: "Rubik", sans-serif;
  font-size: max(14px, 1vw);
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.text-nav:hover,
.text-nav:active {
  color: #fab005;
}

.register_btn {
  background-color: #fab005;
  padding: 5px 10px;
  border-radius: 4px;
}

.register_btn:hover,
.register_btn:active {
  color: #fab005;
  background-color: white;
}

.btn:hover,
.btn:active {
  color: #fab005;
  background-color: white;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 1);
}

.header-texts {
  font-family: "Rubik", sans-serif;
  font-size: max(20px, 1.2vw);
  color: white;
}

.header-texts-inner {
  font-size: max(15px, 1.2vw);
  margin: auto 3%;
  width: 58%;
}

.header-texts h1,
.header-texts p {
  display: inline-block;
}

.header-texts h1 {
  padding-top: 200px;
}

.header-texts p {
  padding-top: 20px;
}

.btn {
  text-decoration: none;
  background-color: #fab005;
  padding: 15px 30px;
  border-radius: 9px;
  color: white;
  display: inline-block;
  margin-top: 50px;
}

.section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-top: 150px;
}

.weapon_img {
  width: 100%;
}

.blockchain_img {
  width: 100%;
  margin-top: 50px;
}

.blockchain,
.funcionamento {
  margin: auto 10px;
  font-family: "Rubik", sans-serif;
  font-size: max(15px, 1.1vw);
}

.blockchain h2,
.funcionamento h2 {
  display: inline-block;
  padding: 10px;
  border-radius: 9px;
  background-color: #fab005;
  margin-bottom: 40px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  margin-top: 150px;
}

.section3 {
  background-color: #ececec;
  padding-bottom: 20px;
}

.sobre h2 {
  margin-top: 20%;
  font-size: max(30px, 2vw);
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: black;
  padding: 10px 20px;
  /* gap: %; */
  border-radius: 9px;
}

.sobre_grid {
  width: 70%;
  margin: 3% auto;
  display: grid;
  gap: 20px;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
}

.sobre_grid p {
  font-size: max(15px, 1vw);
  font-family: "Rubik", sans-serif;
  font-style: italic;
}

footer {
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.footer {
  color: white;
  font-family: "Rubik", sans-serif;
  display: flex;
  font-size: max(12px, 0.8vw);
  justify-content: space-between;
}

.foto {
  width: 100%;
}
